<div class="form-container">
  <h2>Créer un Terminal</h2>

  <form [formGroup]="terminalFrom" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="codePort">Sélectionner un Port</label>
      <select id="codePort" formControlName="codePort">
        <option value="">-- Sélectionner --</option>
        <option *ngFor="let port of ports" [value]="port.codePort">{{ port.codePort }}</option>
      </select>
      <div class="error" *ngIf="submitted && f['codePort'].errors">
        <span *ngIf="f['codePort'].errors['required']">Le code est requis.</span>
      </div>
    </div>

    <div class="form-group">
      <label for="type">type de terminal</label>
      <input id="type" formControlName="type" type="text" />
      <div class="error" *ngIf="submitted && f['type'].errors">
        <span *ngIf="f['type'].errors['required']">Le type est requis.</span>
      </div>
    </div>

    <div class="form-group">
      <label for="numero">Numéro</label>
      <input id="numero" formControlName="numero" type="number" />
      <div class="error" *ngIf="submitted && f['numero'].errors">
        <span *ngIf="f['numero'].errors['required']">La numero est requise.</span>
        <span *ngIf="f['numero'].errors['pattern']">Uniquement des chiffres autorisés.</span>
      </div>
    </div>

    <div class="form-group">
      <label for="capacite">Capacité</label>
      <input id="capacite" formControlName="capacite" type="number" />
      <div class="error" *ngIf="submitted && f['capacite'].errors">
        <span *ngIf="f['capacite'].errors['required']">La capacité est requise.</span>
        <span *ngIf="f['capacite'].errors['pattern']">Uniquement des chiffres autorisés.</span>
      </div>
    </div>

    <button type="submit">Créer</button>

    <div class="success" *ngIf="successMessage">{{ successMessage }}</div>
    <div class="error" *ngIf="errorMessage">{{ errorMessage }}</div>
  </form>
</div>