<div class="dashboard-container">
  <img src="assets/logo-marsa.png" alt="Logo Marsa Maroc" class="logo" />

  <h1 class="dashboard-title fade-in">Gestion portuaire</h1>

  <div class="dashboard-grid fade-in">
    <div class="dashboard-card">
      <h3>Gestion des ports</h3>
      <ul>
        <li><a routerLink="/ports/create">Créer Port</a></li>
        <li><a routerLink="/ports">Consulter Ports</a></li>
      </ul>
    </div>

    <div class="dashboard-card">
      <h3>Gestion des terminaux</h3>
      <ul>
        <li><a routerLink="/terminaux/create">Créer Terminal</a></li>
        <li><a routerLink="/terminaux">Consulter Terminaux</a></li>
      </ul>
    </div>

    <div class="dashboard-card">
      <h3>Gestion des navires</h3>
      <ul>
        <li><a routerLink="/navires/create">Créer Navire</a></li>
        <li><a routerLink="/navires">Consulter Navires</a></li>
      </ul>
    </div>

    <div class="dashboard-card">
      <h3>Visites Maritimes</h3>
      <ul>
        <li><a routerLink="/escales/create">Créer Avis d’arrivée</a></li>
        <li><a routerLink="/escales">Consulter Visite Maritime</a></li>
        <li><a routerLink="/declarations">Consulter Déclaration Marchandise</a></li>
      </ul>
    </div>
  </div>
</div>
